In [1]:
import pandas as pd

In [2]:
datadf = pd.read_csv('C:/Users/ThuyHOANG/code/portfolio-projects/Data_woman.csv')

In [3]:
datadf.head(20)

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015,10.1
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015,13.7
3,1,Afghanistan,F,Education,Primary,... if she burns the food,01/01/2015,13.8
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,13.8
5,1,Afghanistan,F,Employment,Employed for kind,... if she burns the food,01/01/2015,17.0
6,1,Afghanistan,F,Age,15-24,... if she burns the food,01/01/2015,17.3
7,1,Afghanistan,F,Employment,Unemployed,... if she burns the food,01/01/2015,18.0
8,1,Afghanistan,F,Residence,Rural,... if she burns the food,01/01/2015,18.1
9,1,Afghanistan,F,Age,25-34,... if she burns the food,01/01/2015,18.2
10,1,Afghanistan,F,Marital status,Married or living together,... if she burns the food,01/01/2015,18.3
11,1,Afghanistan,F,Residence,Urban,... if she burns the food,01/01/2015,18.3
12,1,Afghanistan,F,Age,35-49,... if she burns the food,01/01/2015,18.8
13,1,Afghanistan,F,Education,No education,... if she burns the food,01/01/2015,19.1
14,1,Afghanistan,F,Employment,Employed for cash,... if she burns the food,01/01/2015,20.8
15,1,Afghanistan,M,Marital status,Never married,... if she burns the food,01/01/2015,NaN
16,1,Afghanistan,M,Education,Higher,... if she burns the food,01/01/2015,4.5
17,1,Afghanistan,M,Residence,Urban,... if she burns the food,01/01/2015,4.6
18,1,Afghanistan,M,Employment,Unemployed,... if she burns the food,01/01/2015,5.2
19,1,Afghanistan,M,Education,Primary,... if she burns the food,01/01/2015,6.3

In [4]:
datadf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12600 entries, 0 to 12599
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RecordID               12600 non-null  int64
 1   Country                12600 non-null  object
 2   Gender                 12600 non-null  object
 3   Demographics Question  12600 non-null  object
 4   Demographics Response  12600 non-null  object
 5   Question               12600 non-null  object
 6   Survey Year            12600 non-null  object
 7   Value                  11187 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 787.6+ KB

In [8]:
from pivottablejs import pivot_ui
pivot_ui(datadf)