In [2]:
import pandas as pd
import numpy as np

In [3]:
datadf = pd.read_csv('C:/Users/ThuyHOANG/code/portfolio-projects/Data_woman.csv')

In [8]:
datadf.head(40)

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015,10.1
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015,13.7
3,1,Afghanistan,F,Education,Primary,... if she burns the food,01/01/2015,13.8
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,13.8
5,1,Afghanistan,F,Employment,Employed for kind,... if she burns the food,01/01/2015,17.0
6,1,Afghanistan,F,Age,15-24,... if she burns the food,01/01/2015,17.3
7,1,Afghanistan,F,Employment,Unemployed,... if she burns the food,01/01/2015,18.0
8,1,Afghanistan,F,Residence,Rural,... if she burns the food,01/01/2015,18.1
9,1,Afghanistan,F,Age,25-34,... if she burns the food,01/01/2015,18.2
10,1,Afghanistan,F,Marital status,Married or living together,... if she burns the food,01/01/2015,18.3
11,1,Afghanistan,F,Residence,Urban,... if she burns the food,01/01/2015,18.3
12,1,Afghanistan,F,Age,35-49,... if she burns the food,01/01/2015,18.8
13,1,Afghanistan,F,Education,No education,... if she burns the food,01/01/2015,19.1
14,1,Afghanistan,F,Employment,Employed for cash,... if she burns the food,01/01/2015,20.8
15,1,Afghanistan,M,Marital status,Never married,... if she burns the food,01/01/2015,NaN
16,1,Afghanistan,M,Education,Higher,... if she burns the food,01/01/2015,4.5
17,1,Afghanistan,M,Residence,Urban,... if she burns the food,01/01/2015,4.6
18,1,Afghanistan,M,Employment,Unemployed,... if she burns the food,01/01/2015,5.2
19,1,Afghanistan,M,Education,Primary,... if she burns the food,01/01/2015,6.3
20,1,Afghanistan,M,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,6.3
21,1,Afghanistan,M,Education,Secondary,... if she burns the food,01/01/2015,7.1
22,1,Afghanistan,M,Age,25-34,... if she burns the food,01/01/2015,8.2
23,1,Afghanistan,M,Employment,Employed for cash,... if she burns the food,01/01/2015,8.4
24,1,Afghanistan,M,Marital status,Married or living together,... if she burns the food,01/01/2015,8.5
25,1,Afghanistan,M,Age,35-49,... if she burns the food,01/01/2015,8.6
26,1,Afghanistan,M,Age,15-24,... if she burns the food,01/01/2015,9.4
27,1,Afghanistan,M,Residence,Rural,... if she burns the food,01/01/2015,9.7
28,1,Afghanistan,M,Education,No education,... if she burns the food,01/01/2015,10.6
29,1,Afghanistan,M,Employment,Employed for kind,... if she burns the food,01/01/2015,10.7
30,351,Afghanistan,F,Age,15-24,... for at least one specific reason,01/01/2015,80.1
31,351,Afghanistan,F,Age,25-34,... for at least one specific reason,01/01/2015,81.5
32,351,Afghanistan,F,Age,35-49,... for at least one specific reason,01/01/2015,79.0
33,71,Afghanistan,F,Age,15-24,... if she argues with him,01/01/2015,57.5
34,71,Afghanistan,F,Age,25-34,... if she argues with him,01/01/2015,60.0
35,71,Afghanistan,F,Age,35-49,... if she argues with him,01/01/2015,59.8
36,141,Afghanistan,F,Age,15-24,... if she goes out without telling him,01/01/2015,67.7
37,141,Afghanistan,F,Age,25-34,... if she goes out without telling him,01/01/2015,68.5
38,141,Afghanistan,F,Age,35-49,... if she goes out without telling him,01/01/2015,64.7
39,211,Afghanistan,F,Age,15-24,... if she neglects the children,01/01/2015,46.5

In [5]:
datadf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12600 entries, 0 to 12599
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RecordID               12600 non-null  int64
 1   Country                12600 non-null  object
 2   Gender                 12600 non-null  object
 3   Demographics Question  12600 non-null  object
 4   Demographics Response  12600 non-null  object
 5   Question               12600 non-null  object
 6   Survey Year            12600 non-null  object
 7   Value                  11187 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 787.6+ KB

In [27]:
mean_value = datadf['Value'].mean()

datadf['Value'] = datadf['Value'].fillna(mean_value)
datadf['Country'].unique()

array(['Afghanistan', 'Albania', 'Angola', 'Armenia', 'Azerbaijan',
       'Bangladesh', 'Benin', 'Bolivia', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Chad', 'Colombia', 'Comoros', 'Congo',
       'Congo Democratic Republic', "Cote d'Ivoire", 'Dominican Republic',
       'Egypt', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia',
       'Ghana', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'India', 'Indonesia', 'Jordan', 'Kenya', 'Kyrgyz Republic',
       'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Maldives', 'Mali',
       'Moldova', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Nicaragua', 'Niger', 'Nigeria', 'Pakistan', 'Peru', 'Philippines',
       'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Sierra Leone',
       'South Africa', 'Tajikistan', 'Tanzania', 'Timor-Leste', 'Togo',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [36]:
#data_groupby_country = datadf.groupby('Country')
#data_groupby_country.first()

#data_groupby_country_sort = data_groupby_country.sort_values('Value')

,RecordID,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
Country,,,,,,,
Afghanistan,1,F,Marital status,Never married,... if she burns the food,01/01/2015,19.762537
Albania,2,F,Education,Higher,... if she burns the food,01/01/2017,0.200000
Angola,3,F,Education,Higher,... if she burns the food,01/01/2015,0.900000
Armenia,4,F,Education,No education,... if she burns the food,01/01/2015,19.762537
Azerbaijan,5,F,Education,Higher,... if she burns the food,01/01/2006,1.500000
...,...,...,...,...,...,...,...
Uganda,416,F,Age,15-24,... for at least one specific reason,01/01/2016,53.400000
Ukraine,417,F,Age,15-24,... for at least one specific reason,01/01/2007,2.500000
Yemen,418,F,Age,15-24,... for at least one specific reason,01/01/2013,47.400000
Zambia,419,F,Age,15-24,... for at least one specific reason,01/01/2013,48.200000
Zimbabwe,420,F,Age,15-24,... for at least one specific reason,01/01/2015,48.600000

In [35]:
import seaborn as sns

In [30]:
Middle_east = datadf[(datadf['Country'].isin(['Afghanistan','Azerbaijan'])) ]

Europe = datadf[(datadf['Country'].isin(['','Albania'])) ]
Africa = datadf[(datadf['Country'].isin(['Angola','Benin','Burkina Faso','Burundi','Cameroon','Chad','Comoros','Congo','Congo Democratic Republic',"Cote d'Ivoire",'Egypt','Eritrea',
                                         'Eswatini','Ethopia','Gabon','Gambia','Ghana','Guyana',  ])) ]
Asia = datadf[(datadf['Country'].isin(['Armenia',''])) ]
South_asia = datadf[(datadf['Country'].isin(['Bangladesh','India'])) ]
Southest_asia = datadf[(datadf['Country'].isin(['Cambodia','']))]
Amerique = datadf[(datadf['Country'].isin(['Bolivia','Colombia','Dominican Republic','Guatemala','Haiti','' ])) ]

In [7]:
from pivottablejs import pivot_ui
pivot_ui(datadf)