In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

import seaborn as sns
sns.set()

In [12]:
datadf = pd.read_csv('C:/Users/ThuyHOANG/code/portfolio-projects/woman-violence-project/Data_woman.csv')

In [13]:
datadf.head()

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015,10.1
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015,13.7
3,1,Afghanistan,F,Education,Primary,... if she burns the food,01/01/2015,13.8
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,13.8

In [5]:
datadf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12600 entries, 0 to 12599
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RecordID               12600 non-null  int64
 1   Country                12600 non-null  object
 2   Gender                 12600 non-null  object
 3   Demographics Question  12600 non-null  object
 4   Demographics Response  12600 non-null  object
 5   Question               12600 non-null  object
 6   Survey Year            12600 non-null  object
 7   Value                  11187 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 787.6+ KB

In [14]:
mean_value = datadf['Value'].mean()

datadf['Value'] = datadf['Value'].fillna(mean_value)
datadf['Country'].unique()

array(['Afghanistan', 'Albania', 'Angola', 'Armenia', 'Azerbaijan',
       'Bangladesh', 'Benin', 'Bolivia', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Chad', 'Colombia', 'Comoros', 'Congo',
       'Congo Democratic Republic', "Cote d'Ivoire", 'Dominican Republic',
       'Egypt', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia',
       'Ghana', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'India', 'Indonesia', 'Jordan', 'Kenya', 'Kyrgyz Republic',
       'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Maldives', 'Mali',
       'Moldova', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Nicaragua', 'Niger', 'Nigeria', 'Pakistan', 'Peru', 'Philippines',
       'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Sierra Leone',
       'South Africa', 'Tajikistan', 'Tanzania', 'Timor-Leste', 'Togo',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [ ]:
#data_groupby_country = datadf.groupby('Country')
#data_groupby_country.first()

#data_groupby_country_sort = data_groupby_country.sort_values('Value')

Select answers from different continent and country. For this project, I want to investigate more about Asian people views for the violence.

In [ ]:

Amerique = datadf[(datadf['Country'].isin(['Bolivia','Colombia','Dominican Republic','Guatemala','Haiti','Peru'])) ]
Europe = datadf[(datadf['Country'].isin(['','Albania', 'Moldova','Ukraine'])) ]
Africa = datadf[(datadf['Country'].isin(['Angola','Benin','Burkina Faso','Burundi','Cameroon','Chad','Comoros','Congo','Congo Democratic Republic',"Cote d'Ivoire",'Egypt','Eritrea',
                                         'Eswatini','Ethopia','Gabon','Gambia','Ghana','Guyana','Kenya','Lesotho','Liberia' , 'Madagascar', 'Malawi', 'Marocco','Mozambique','Namibia','Nicaragua', 'Niger', 'Nigeria','Rwanda', 'Sao Tome and Principe', 'Senegal', 'Sierra Leone',
       'South Africa','Togo','Tanzania','Uganda','Zambia',
       'Zimbabwe' ])) ]

Asia = datadf[(datadf['Country'].isin(['Armenia','Turkmenistan','Bangladesh','India', 'Maldives','Nepal','Pakistan','Tajikistan','Turkey','Cambodia','Indonesia','Mali','Philippines','Timor-Leste','Yemen','Afghanistan','Azerbaijan', 'Jordan','Kyrgyz Republic'])) ]
South_asia = datadf[(datadf['Country'].isin(['Bangladesh','India', 'Maldives','Nepal','Pakistan','Tajikistan','Turkey'])) ]
Middle_east = datadf[(datadf['Country'].isin(['Afghanistan','Azerbaijan', 'Jordan','Kyrgyz Republic',])) ]
Southest_asia = datadf[(datadf['Country'].isin(['Cambodia','Indonesia','Mali','Philippines','Timor-Leste','Yemen']))]

In [19]:
Asia.describe()

          RecordID        Value
count  3420.000000  3420.000000
mean    212.789474    23.224281
std     121.614791    16.978329
min       1.000000     0.000000
25%     111.000000    11.000000
50%     209.500000    19.762537
75%     321.000000    30.100000
max     418.000000    86.900000

In [21]:
Asia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3420 entries, 0 to 12239
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RecordID               3420 non-null   int64
 1   Country                3420 non-null   object
 2   Gender                 3420 non-null   object
 3   Demographics Question  3420 non-null   object
 4   Demographics Response  3420 non-null   object
 5   Question               3420 non-null   object
 6   Survey Year            3420 non-null   object
 7   Value                  3420 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 240.5+ KB

In [26]:
        
data_plot1 = pd.DataFrame(Asia, columns=['Country', 'Value'])
data_plot_agg =  pd.pivot_table(data_plot1, values = 'Value', index = 'Country', aggfunc = np.mean)
data_plot_agg.head()
data_plot_sorted = data_plot_agg.sort_values(by='Value', ascending=False)
#ranking = data_plot1_sorted.head(10)
#ranking

                 Value
Country
Afghanistan  41.155280
Armenia      10.234169
Azerbaijan   31.805836
Bangladesh   17.408909
Cambodia     19.460000